tools:
  eslint: &eslint
      lint-command: 'eslint --stdin --stdin-filename ${INPUT} --format json | yq -o csv ''.[] | [.filePath, (.messages.[] | [.line, .column, ("" + .severity + "" | sub("2", "e") | sub("1", "w")), .message + " (" + .ruleId + ")"])[] ]'''
      lint-source: 'eslint'
      lint-stdin: true
      lint-ignore-exit-code: true
      lint-after-open: true
      lint-formats:
        - '%f,%l,%c,%t,%m'
        - '%f,%l,%c,%t,%m'
  prettier: &prettier
      format-command: 'prettier --stdin-filepath ${INPUT}'
      format-stdin: true

languages:
  hexpat:
    - lint-command: 'plcli run -I {{ .imhexSharePath }}/includes -p ${INPUT} | grep -A1 error | tr "\n" ":" | sed "s/  -->   in //g; s/:--:/\n/g; s/:$/\n/"'
      lint-source: 'plcli'
      lint-stdin: false
      lint-after-open: true
      lint-ignore-exit-code: true
      lint-formats: 
        - '%trror: %m:%f:%l:%c'
  meson:
    - lint-command: 'muon analyze -l -O ${INPUT}'
      lint-source: 'muon'
      lint-stdin: true
      lint-after-open: true
      format-command: 'muon fmt -'
      format-stdin: true
      lint-formats: 
        - '%f:%l:%c: %trror %m'
        - '%f:%l:%c: %tarning %m'
  sh:
    - lint-command: 'shellcheck - --format=json | jq ''.[] | .level = (.level | .[0:1] | sub("s"; "n")) | "\(.line):\(.column):\(.level):\(.message) [SC\(.code)]"'''
      lint-source: 'shellcheck'
      lint-stdin: true
      lint-ignore-exit-code: true
      lint-after-open: true
      lint-formats:
        - '"%l:%c:%t:%m"'
      format-command: 'shfmt -s --filename ${INPUT} -'
      format-stdin: true
  typescript:
    - <<: *eslint
    - <<: *prettier
  javascript:
    - <<: *eslint
    - <<: *prettier
