{
	"$schema": "https://opencode.ai/config.json",
	"lsp": true,
	"small_model": "deepseek/deepseek-v4-flash",
	"model": "deepseek/deepseek-v4-pro",
	"mcp": {
		"ghidra": {
			"enabled": false,
			"type": "local",
			"command": [
				"nix",
				"develop",
				"{{- .chezmoi.homeDir -}}/Repositories/ghidra-mcp",
				"--command",
				"python",
				"{{- .chezmoi.homeDir -}}/Repositories/ghidra-mcp/bridge_mcp_ghidra.py"
			]
		},
		"cloudflare-docs": {
			"type": "remote",
			"url": "https://docs.mcp.cloudflare.com/mcp",
			"enabled": false
		}
	}
}
