{
	"$schema": "https://opencode.ai/config.json",
	"lsp": true,
	"provider": {
		"openrouter": {
			"models": {
				"deepseek/deepseek-v4-pro": {
					"name": "DeepSeek V4 Pro (fix)",
					"provider": {
						"npm": "@ai-sdk/openai-compatible"
					},
					"interleaved": {
						"field": "reasoning_content"
					}
				}
			}
		}
	},
	"mcp": {
		"ghidra": {
			"enabled": false,
			"type": "local",
			"command": [
				"nix",
				"develop",
				"{{- .chezmoi.homeDir -}}/Repositories/ghidra-mcp",
				"--command",
				"python",
				"{{- .chezmoi.homeDir -}}/Repositories/ghidra-mcp/bridge_mcp_ghidra.py"
			]
		},
		"cloudflare-docs": {
			"type": "remote",
			"url": "https://docs.mcp.cloudflare.com/mcp",
			"enabled": false
		}
	}
}
