encryption = "gpg"

[gpg]
recipient = "74865B39CC76129E"

{{ $fontSizes := dict "jan-macbook" 14 -}}
{{- $cellHeights := dict "jan-macbook" 55 -}}
{{- $imhexSharePaths := dict "darwin" "/Applications/ImHex.app/Contents/MacOS" -}}
{{- $imhexDefaultSharePath:= joinPath .chezmoi.homeDir ".nix-profile/share/imhex" -}}

[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}",
  "{{ "{{" }} .Target {{ "}}" }}",
]

[data]
fontSize = {{ index $fontSizes .chezmoi.hostname | default 12 }}
cellHeight = {{ index $cellHeights .chezmoi.hostname | default 56 }}
imhexSharePath = "{{ index $imhexSharePaths .chezmoi.os | default $imhexDefaultSharePath }}"
