encryption = "gpg"

[gpg]
recipient = "74865B39CC76129E"

{{ $fontSizes := dict "jan-macbook" 14 -}}
{{- $fontSize := index $fontSizes .chezmoi.hostname | default 12 -}}
{{- $cellHeights := dict "jan-macbook" 55 -}}
{{- $cellHeight := index $cellHeights .chezmoi.hostname | default 56 -}}

{{- $backgroundOpacity := 0.8 -}}

{{- $tmuxPath := "/usr/bin/env tmux" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $tmuxPath = "/opt/homebrew/bin/tmux" -}}
{{- end -}}

[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}",
  "{{ "{{" }} .Target {{ "}}" }}",
]

[data]
backgroundOpacity = {{ $backgroundOpacity }}
cellHeight = {{ $cellHeight }}
fontSize = {{ $fontSize }}
tmuxPath = "{{ $tmuxPath }}"
