encryption = "gpg"

[gpg]
recipient = "74865B39CC76129E"

{{ $fontSizes := dict "jan-macbook" 14 -}}
{{- $cellHeights := dict "jan-macbook" 55 -}}

[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}",
  "{{ "{{" }} .Target {{ "}}" }}",
]

[data]
fontSize = {{ index $fontSizes .chezmoi.hostname | default 12 }}
cellHeight = {{ index $cellHeights .chezmoi.hostname | default 56 }}
